.container{
    max-width:1900px;
    background: #fff;
    margin: auto;
}

.header{
    display: flex;
    justify-content:center;
    height: 70px;
    background-color: #313131;

}

.logo{
    padding:22px 27px;
}

.nav{
    display:flex;
    margin: 0 auto;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;

}


.site-nav{
    display:flex;
    justify-content: space-between;
    padding:0;
    list-style: none;
}

.text-logo{
    display: flex;
    justify-content:flex-start;
    margin-left: 0;

}


.menu-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    text-decoration: none;
    position: absolute;
    padding-top: 22px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;





}


.menu-link {
    display:flex;
    justify-content:space-between;
    font-family: Open Sans;
    font-weight: 600;
    font-style: normal;
    size: 15px;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;



}

.menu-link:hover {
    color: #14B9D5;
}




.search-box{
    display: flex;
    justify-content: flex-end;
    background-color:#000000;
    height: 15px;
    border-radius: 0px;
    padding: 26px 26px;
    margin-right: auto;
}

.search-btn{
    align-items: center;
    color: #ffffff;
    width: 16px;
    height: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin-right: auto;
}

.search-txt{
    border: none;
    outline: none;
    background: none;
    padding:0;
    color: #fff;
    font-size: 16px;
    font-family: Open Sans;
    transition: .4s;
    line-height: 30px;
    width: 0;

}

.search-box:hover .search-txt{
    width: 100px;
    padding: 0 6px;

}

.search-box :hover .search-btn {
    background-color: #2b2b2b;
}


.main{
    height: 369px;
    max-width: 1900px;



}

.img-big{

display: flex;
justify-content: center;
max-width: 1900px;
position: absolute;
width: 100%;

}



.img-city{
    display: flex;
    justify-content:center;
    height: 369px;
    max-width: 1900px;
    width: 100%;

}

.main-text{
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 133px;
    padding-bottom: 173px;

}

.p{
    font-family: Open Sans;
    font-weight:700;
    font-style: normal;
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.container-button{
    position: relative;
}


.button{
    position: absolute;
    top: 39%;
    left:37%;
}

.main-button{
    text-decoration:none;
    font-size: 18px;
    font-family: monospace;
    background: #89CA62;
    font-weight:600;
    padding: 17px 19px;
    color: #ffffff;
    border-radius: 4px;
    margin-right: 10px;


}

.next-main-button{
    text-decoration:none;
    font-size: 18px;
    font-family: monospace;
    background: #14B9D5;
    font-weight:600;
    padding: 17px 19px;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 10px;
}


.main-2{
    height: 1030px;
    background: #F2F2F2;

}

.most-popular{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    line-height: 36.77px;


}

.block-2{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}


.container-1{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}



.container-2{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.container-3{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

figcaption{
    display: flex;
    justify-content: center;
    height: 26px;
    background-color: #ffffff;

}

.block-2part-2{
    display: flex;
    justify-content: center;

}

.container-4{
    margin-top: -90px;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;


}

.container-5{
    margin-top: 32px;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;


}

.container-6{
    margin-top: -57px;
    margin-left: 30px;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;

}

.block3{
    height: 588px;
    max-width: 1900px;
    width: 100%;
    position: absolute;

}

.backgr{
    background-position: center;
    display: flex;
    height: 588px;
    width: 100%;
    max-width: 1900px;


}

.imgback{
    display: flex;
    justify-content:center;
    max-width: 1900px;
    width: 100%;
    position: absolute;
}


.grid_body{
    text-align: center;
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 150px;
    padding-left: 300px;
    padding-right: 300px;

}

.grid_items{
    text-align: center;


}


.clients{
    text-transform: uppercase;
    position: relative;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding-top: 70px;
    text-align: center;
    color:#FFFFFF;


}


hr{
    position:relative;
    width: 60px;
    color: #18B4CF;
    margin-top: 100px;
}

.top{
    font-family:"Open Sans";
   font-weight:700;
    font-style: normal;
    font-size: 27px;
    align-items: center;
    color: #18B4CF;
    text-transform: uppercase;
    padding-top: 100px;
    text-align: center;
    margin-left: 50px;

}

.block4{
    display: ;
}

.grid-header{
    display: grid;
    grid-template-columns: 134px 1fr;
    grid-template-rows: 134px 1fr;
    grid-area: hd;
    text-align: center;

}








